.env
.env.backup
.git
.gitignore
.gitattributes
node_modules
npm-debug.log
yarn-error.log
public/hot
public/build
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
.DS_Store
Thumbs.db
tests/
.vscode/
.idea/
.editorconfig
.phpactor.json
Homestead.json
Homestead.yaml
README.md
.github/
